# Ignore output files
out*
OUT*
*.out
*.OUT
!restart.dat
**/RESTARTS/**
**/PDB/**
**/DATA/**
# NERDSS outputs in DATA folder
# **/histogram_complexes_time.dat
# **/system.psf
# **/bound_pair_time.dat
# **/initial_crds.xyz
# **/trajectory.xyz
# **/copy_numbers_time.dat
# **/mono_dimer_time.dat
# **/transition_matrix_time.dat
# **/event_counters_time.dat
# **/observables_time.dat
**/nerdss_output/**
**/SIMS/**
# Exceptions for specific datasets
!**/assoc_dissoc_time.dat
!**/histogram_complexes_time.dat
# !Figure2-DNA/NERDSS_a/debug_dimer/**/OUTPUT
# ignore python cache files
*.pyc
__pycache__/
.ipynb_checkpoints/
# ignore Archived files
Archived/
# ignore Test files
Tests/
# ignore specific files labeled as "ignore"
*.ignore
IGNORE*
# ignore mac os files
.DS_Store