# Ignore output files
out*
OUT*
*.out
*.OUT
*.dat
# ignore python cache files
*.pyc
__pycache__/
.ipynb_checkpoints/
# ignore Archived files
Archived/
# ignore Test files
Tests/
# ignore specific files labeled as "ignore"
*.ignore
IGNORE*